@page
@model BlazorMLSA.Server.Pages.LoginModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
}


<h3>Choose a social log-in:</h3>
@{
    var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    <form asp-route-returnurl="@Model.returnUrl" method="post" class="form-horizontal">
        <div>
                @foreach (var provider in providers)
                {

                    <button type="submit" style="margin-left: 6px; font-size: 18px; font-weight: bolder;" value="@provider.Name" name="provider">@provider.Name</button>
                }
        </div>
    </form>

    <form method="post" asp-route-returnurl="@Model.returnUrl" asp-page-handler="Local">
        <input asp-for="@Model.Email"/>
        <input asp-for="@Model.Password"/>
        <button type="submit">Login</button>
    </form>
}


